ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */

* {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  color: #1d1d1f;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 4rem 2rem;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -0.003em;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  color: #86868b;
  font-weight: 400;
  margin-bottom: 40px;
}

p {
  color: red;
}

.note {
  font-size: 20px;
  list-style-type: none;
  margin-bottom: 15px;
}

#id-selector-demo {
  color: green;
}

li[value="4"] {
  color: blue;
}